@import "../../../styles/vars.scss";

.interactbutton {
    position: absolute;

    bottom: 0;
    left: 65vh;

    width: 50vh;
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    filter: drop-shadow(0 0 2vh black);
    animation: fadeIn .5s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .top {
        font-family: 'Beast Duh';
        font-size: 3vh;

        background: $global-color;
        width: 5vh;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;

        border: .2vh solid white;
        border-radius: .5vh;

        margin-bottom: -1vh;
        z-index: 1;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;



        background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgb(88, 18, 18) 0%, rgba(0, 0, 0, 1) 100%);

        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.5vh;

        padding: 2vh;

        border-radius: .5vh;

        text-shadow: 0 0 1vh white;
    }

}