@import '../../../../../styles/vars';

.confirmitemdrop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 13.888888888888888vh;
	height: 100%;

	background: linear-gradient(to top, red, rgb(0 0 0 / 38%) 60%, rgba(195, 115, 243, 0));

	text-align: center;

	opacity: 0;

	transition: opacity .2s;

	.content {
		position: absolute;
		left: 50%;
		bottom: 0.9259259259259258vh;
		transform: translateX(-50%);

		width: 27.777777777777775vh;

		font-size: 1.3888888888888888vh;

		.render {
			margin-bottom: 1.8518518518518516vh;
			font-family: Arial, Helvetica, sans-serif;
			text-shadow: 0 0.27777777777777773vh 0.27777777777777773vh rgba(0, 0, 0, 0.53);

			.image {
				width: 30%;
				margin-bottom: 1.3888888888888888vh;
			}

			.name {
				font-family: $global-font;
				font-size: 2vh;
				margin-bottom: 1.3888888888888888vh;
			}
		}

		.title {
			text-transform: uppercase;
			text-shadow: 0 0.27777777777777773vh 0.27777777777777773vh rgba(0, 0, 0, 0.53);
			font-family: Arial, Helvetica, sans-serif;
		}

		.choice {
			position: relative;

			width: 100%;
			height: 18.51851851851852vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			text-transform: uppercase;
			font-family: Arial, Helvetica, sans-serif;

			.confirm {
				position: absolute;

				text-shadow: 0 0.27777777777777773vh 0.27777777777777773vh rgba(0, 0, 0, 0.53);

				//cursor: url("../../../../../assets/images/cursorPointer.svg"), pointer;

				&:hover .top {
					transform: rotate(-15deg) translateX(-10%);

					.title {
						transform: translateY(-50%);
						opacity: 0;
					}
				}

				&:hover .trash {
					fill: red;

				}

				&:hover .bottom {
					transform: translateY(10%);
				}

				.top {
					transform-origin: 0 50%;

					transition: transform .2s;

					.title {
						margin-bottom: 0.4629629629629629vh;

						transition: transform .2s, opacity .2s;
					}

					.trash {
						margin-bottom: -0.4629629629629629vh;
					}
				}

				.bottom {
					transition: transform .2s;
				}
			}

			.decline {
				position: absolute;
				bottom: 0;

				border-bottom: 0.18518518518518517vh solid #ffffff;
				filter: drop-shadow(0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53));
			}
		}
	}
}