$global-color: #28272b;
$global-bg: linear-gradient(to right, red, #28272b);
$global-bg-reverted: linear-gradient(to right, #28272b, red);
$global-bg-transparent: linear-gradient(to right, #28272b, transparent);

$global-font: 'Beast Duh'; //idk tbh? gotta change it soon anyway