.generaldata {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5vh;

    .parentsImages {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.7037037037037033vh;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1vh;
        width: 33.1481481481vh;
        margin-bottom: 2.037037037vh;

        .box {
            position: relative;
            width: 11.574074074074073vh;
            height: 11.574074074074073vh;

            display: flex;
            flex-direction: column;
            align-items: center;

            .list {
                position: relative;
                width: 100%;
                height: 100%;


                .element {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0.46296296296296297vh;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .image {
                        height: 100%;
                    }
                }
            }

            .name {
                position: absolute;
                bottom: 0.27777777777777773vh;

                font-size: 1.574074074074074vh;
                color: #fff;
                text-shadow: 0vh 0.09259259259259259vh 0.27777777777777773vh rgba(0, 0, 0, 0.75);
                text-transform: uppercase;
            }
        }
    }

    .parentsRange {
        display: flex;
        gap: 1vh;
    }

    .range_element {
        & span {
            opacity: 0.9;
            width: 100%;

            text-align: center;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3888888888888888vh;
            color: white;
            text-shadow: 0vh 0vh 1vh black;
            text-transform: uppercase;
        }

        .slider {
            width: 100%;
            margin-top: 0.9259259259259258vh;
            display: flex;
            align-items: center;
            margin-bottom: 2.037037037vh;

            & span {
                font-size: 0.9629629629629629vh;
            }

            & input[type='range'] {
                width: 100%;
                margin-top: 1vh;

                height: 0.37037037037037035vh;
                background-color: #fff;
                box-shadow: 0 0 0.5vh 0 #fff;
                border-radius: 0.27777777777777773vh;
                outline: none;
                appearance: none;
                -webkit-appearance: none;
                border: none;
                opacity: 0.7;

                &::-webkit-slider-thumb {
                    appearance: none;
                    -webkit-appearance: none;

                    width: 1.8518518518518516vh;
                    height: 1.8518518518518516vh;
                    background-color: red;

                    filter: drop-shadow(0 0 0.27777777777777773vh black);

                    border-radius: 2vh;

                    outline: none;
                }
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;

        .title {
            span {
                color: white;
                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    position: absolute;
                    margin-left: -.5vh;
                    width: 0.2rem;
                    height: 1.8rem;
                    background-color: #fff;
                    box-shadow: 0 0 0.5rem 0 #fff;
                }
            }

            letter-spacing: 0.09259259259259259vh;
            margin-bottom: 2.962962962962963vh;

            font-family: Arial,
            Helvetica,
            sans-serif;
            font-size: 1.9vh;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
        }

        .list {

            .element {
                width: 33.148148148148145vh;
                margin-bottom: 2.0370370370370368vh;
            }
        }
    }

    .title {
        position: relative;
        color: white;

        & span {
            opacity: 0.9;
            letter-spacing: 0.09259259259259259vh;
            font-size: 1.5rem;
            font-weight: 700;
        }

        & img {
            margin-left: 2.314814814814815vh;
            height: 1.3888888888888888vh;
        }
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.3888888889vh;
        position: relative;

        .namedata {
            align-items: center;
            display: flex;
            gap: 2vh;
            justify-content: center
        }

        .gender {
            position: relative;

            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: row;
            gap: 2vh;
            height: 2.9194444444vh;
            margin-bottom: 3vh;

            .female,
            .male {
                align-items: center;
                background-color: #ffffff1a;
                border-radius: .5vh;
                display: flex;
                gap: .5vh;
                height: 100%;
                justify-content: center;
                overflow: hidden;
                transition: filter .1s linear;
                width: 18.5185185185vh;

                &:hover svg path,
                &.active svg path {
                    fill: #ffffff;
                }

            }

            .female,
            .male {

                .active,
                &:hover {
                    filter: drop-shadow(0 -0.09259259259259259vh 0.09259259259259259vh #d731ff90);
                }
            }

        }

    }

    .nameinput {
        position: relative;


        & input {
            width: 18.51851851851852vh;
            padding: 0.9259259259259258vh 3.2407407407407405vh 0.9259259259259258vh 0.9259259259259258vh;
            margin-bottom: 0.9259259259259258vh;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            border: none;
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: .5vh;
            color: white;

            &::placeholder {
                color: white;
            }
        }

        & img {
            width: 1.3888888888888888vh;
            height: 1.3888888888888888vh;
            position: absolute;
            top: 50%;
            transform: translate(-150%, -50%);
        }
    }
}