@import "../../styles/vars.scss";


.settingsmenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background: rgba(40, 39, 43, 0.6);
    filter: drop-shadow(0.18518518518518517vh 0.37037037037037035vh 0.5555555555555556vh #28272b);

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: .2vh solid red;

        .box {
            position: relative;
            margin-left: 2vh;
            width: 10.29629629629629vh;
            height: 7.814814814814815vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            font-family: 'Beast Duh', sans-serif;
            font-size: 1.8518518518518516vh;
            color: rgba(255, 255, 255, 0.75);



            img {
                width: 3.611111111111111vh;
                height: 2.8703703703703702vh;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;

                width: 100%;
                height: 100%;

                border-radius: 0.5vh;

                background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(128, 128, 128, 0) 100%);

                transition: all 0.3s;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;

                width: 100%;
                height: 100%;
                border-radius: 0.5vh;

                background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(128, 128, 128, 0) 100%);
                transition: all 0.3s;
                opacity: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover,
            .active {
                color: #fff;
                text-shadow: 0 0 1.574074074074074vh rgba(255, 255, 255, 0.75);
            }

            &:hover::before,
            .active::before {
                opacity: 0;
            }

            &:hover::after,
            .active::after {
                opacity: 1;
            }

            .active {
                color: #fff;
                text-shadow: 0 0 1.574074074074074vh rgba(255, 255, 255, 0.75);
            }

        }


    }

    .button {
        margin-top: 7.87037037037037vh;
        margin-left: 2vh;
        display: flex;
        align-items: center;

        .img {
            margin-top: 0.37037037037037035vh;

            position: relative;
            width: 8.518518518518517vh;
            height: 2.222222222222222vh;
            display: flex;
            align-items: center;

        }

        .text {
            font-family: 'Beast Duh', sans-serif;
            font-size: 4.166666666666666vh;
            color: #fff;
            text-shadow: 0 0.09259259259259259vh 0.27777777777777773vh rgba(0, 0, 0, 0.75);
            text-transform: uppercase;
        }

    }

    .recover {
        position: absolute;
        bottom: 6.018518518518518vh;
        right: 8.055555555555555vh;

        display: flex;
        align-items: center;


        &:hover span {
            opacity: 1;
        }

        &:hover .img {
            opacity: 1;
            transform: rotate(-360deg);
        }

        & span {
            font-family: 'Beast Duh', sans-serif;
            font-size: 1.6666666666666665vh;
            color: #EAEAEA;
            opacity: 0.5;
            text-transform: lowercase;

            transition: all 0.3s;
        }

        .img {
            margin-left: 1.2037037037037037vh;
            width: 3.148148148148148vh;
            height: 2.7777777777777777vh;
            background: url(../../assets/images/settings/recover.svg) no-repeat;
            background-size: cover;
            opacity: 0.5;
            transition: all 0.3s;
        }
    }


    .content {
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (aspect-ratio: 577/540) {
    .settingsmenu {
        .button {
            zoom: 0.7;
        }

        .content {
            zoom: 0.65;

            .info {
                zoom: 0.9;
            }
        }

       .exit {
            zoom: 0.7;
        }
    }
}

@media (aspect-ratio: 4/3) {
    .settingsmenu {
        .button {
            zoom: 0.8;
        }

        .content {
            zoom: 0.8;

            .info {
                zoom: 0.9;
            }
        }

        .exit {
            zoom: 0.8;
        }
    }
}

@media (aspect-ratio: 5/4) {
    .settingsmenu {
        .button {
            zoom: 0.8;
        }

        .content {
            zoom: 0.75;

            .info {
                zoom: 0.9;
            }
        }
        .exit {
            zoom: 0.8;
        }
    }
}