.main {
    width: 100vw;
    height: 100vh;
    position: absolute;

    background: url('../../assets/images/selector/bg.svg') no-repeat;
    background-size: cover;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

        background: url('../../assets/images/selector/crazy.png') no-repeat;
        background-size: cover;
        opacity: .1;

    }

    .header {
        position: relative;
        top: 2vh;
        display: flex;
        align-items: center;

        justify-content: center;
        font-family: 'Beast Duh';
        flex-direction: column;
        font-size: 3.7037037037037037vh;
        text-shadow: 0vh 0vh 5vh black;

        .desc {
            font-size: 1.8518518518518519vh;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }
    }

    .characters {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        gap: 2vh;

        .character {

            font-family: Arial, Helvetica, sans-serif;
            border-radius: .5vh;
            width: 30vh;
            height: 60vh;
            background: linear-gradient(45deg, #8b4646, transparent);
            transition: all .2s;
            animation: slideInCenter 1s ease-in-out forwards;

            &:hover {
                width: 35vh;
                background-color: rgba(0, 0, 0, 0.6);

                .spawn {
                    opacity: 1;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 30vh;
                height: 60vh;

                background: url('../../assets/images/selector/3.svg') no-repeat;
                background-repeat: no-repeat;
                background-size: cover;

                opacity: .3;
                z-index: -1;
            }


            .name {
                position: relative;
                font-size: 1.8518518518518519vh;
                font-weight: bold;
                text-shadow: 0vh 0vh 1vh black;
                text-transform: uppercase;

            }

            .data {
                position: relative;
                top: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .level {
                    position: relative;
                    top: -5vh;
                    font-family: 'Beast Duh';
                    opacity: .2;
                    font-size: 25vh;
                }

                .money,
                .bank {
                    position: relative;
                    font-family: 'Beast Duh';
                    font-size: 3.5vh;
                    top: -10vh;
                    opacity: .8;
                    display: flex;
                    align-items: center;
                    gap: .5vh;

                    img {
                        width: 4vh;
                    }
                }

                .money {
                    color: green;
                }

                .bank {
                    color: lightblue;
                }

                .spawn {
                    opacity: 0;
                }
            }

            .spawn {

                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 10vh;
                font-size: 5vh;
                font-family: 'Beast Duh';
                background-color: #2d2f34;
                opacity: 0;
                transition: opacity .2s ease-in;
            }
        }

        .create {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Beast Duh';
            font-size: 1.8518518518518519vh;
            border-radius: .5vh;
            width: 30vh;
            height: 60vh;
            background-color: rgba(0, 0, 0, 0.3);
            transition: all .2s;
            animation: slideInCenter 1s ease-in-out forwards;

            & span {
                margin-top: 25vh;

            }

            &:hover {
                width: 35vh;
                font-size: 3vh;
                background-color: rgba(0, 0, 0, 0.6);
                outline: .5vh solid rgba(255, 0, 0, 0.397);
            }

            &::before {
                content: "";
                position: absolute;
                width: 11.11111111111111vh;
                height: 11.11111111111111vh;

                background: url('../../assets/images/selector/create.svg') no-repeat;
                background-repeat: no-repeat;
                background-size: contain;

                opacity: .5;
                z-index: -1;
            }


        }


        .character:nth-child(1),
        .create:nth-child(1) {
            animation: slideInLeft 1s ease-in-out forwards;
        }

        .character:nth-child(3),
        .create:nth-child(3) {
            animation: slideInRight 1s ease-in-out forwards;
        }
    }
}

@keyframes slideInCenter {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}