.creator {
    background: linear-gradient(to right, #000000a8, transparent 30%);
    width: 100vw;
    height: 100vh;

    color: white;
    text-shadow: 0 0 .5vh black;
    transition: all 2s;

    .header {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .navigation {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px black;
        color: white;


        margin-left: 1vh;
        display: flex;
        flex-direction: column;

        &::after {
            content: "";
            position: absolute;
            width: .2vh;
            height: 100%;
            background: radial-gradient(black, transparent);
            left: 8vh;
        }

        .item {
            margin-top: 1vh;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6vh;
            height: 6vh;
        }

        .selected {
            background: linear-gradient(268deg, #3d3b3b, transparent);
            color: white;
        }
    }

    .data {
        position: absolute;
        top: 5.5vh;
        left: 15vh;
        color: white;
        transition: width 2s ease-in;
        width: 35vh;


        .name {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            .charname {
                display: flex;
                flex-direction: column;
                gap: 2vh;

                input {
                    border-radius: .5vh;
                    border: none;
                    outline: none;

                    width: 20vh;
                    padding: .5vh;
                    height: 4vh;

                }

            }

            .gender {
                .selection {
                    display: flex;
                    align-items: center;
                    gap: 1vh;

                    .button {
                        margin-top: 1vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 10vh;

                        background: rgba(255, 255, 255, 0.1);
                        color: white;

                        gap: .5vh;
                        padding: .5vh;

                        border: none;
                        border-radius: .5vh;

                        &:focus {
                            background-color: #00aa003b;
                        }
                    }
                }
            }

            .desc {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: bold;

                text-transform: uppercase;

            }
        }
    }
}