@import "../../../../../../styles/vars.scss";

.deletezone {
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.18518518518518517vh dashed #ffffff;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.397), transparent);
    text-transform: uppercase;
    text-shadow: 0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53);
    font-family: $global-font;
    letter-spacing: 0.09259259259259259vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: #00000040;

        transition: all 0.3s;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(180deg, rgba(255, 38, 38, 0.5) 0%, rgba(128, 89, 89, 0) 100%);

        transition: all 0.3s;

        opacity: 0;
        z-index: -1;
    }

    .title {
        transition: all 0.3s;
    }

    .icon {
        margin-top: 0.9259259259259258vh;
        filter: drop-shadow(0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53));
        transition: all 0.3s;
    }
}


.hide {
    border: 0.18518518518518517vh dashed transparent;
}

.hide::before {
    opacity: 0;
}

.hide::after {
    opacity: 1;
}

.hide .title {
    transform: translate(0vh, -4.62962962962963vh);
    opacity: 0;
}

.hide .icon {
    transform: translate(0vh, -1.8518518518518519vh);
}