@import "../../../../../../styles/vars.scss";

.pockets {
    width: 43.814815vh;
    overflow: hidden;

    .header {
        width: 100%;
        display: flex;
        align-items: center;

        text-shadow: 0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53);

        .info {
            display: flex;
            align-items: center;
            justify-content: center;

            border-top-left-radius: .5vh;
            border-top-right-radius: .5vh;
            padding: 0.4629629629629629vh 0.9259259259259258vh;
            width: 100%;
            margin-right: auto;
            box-shadow: -1.3888888888888888vh 0.4629629629629629vh 0.9259259259259258vh #00000057;
            background: $global-color;

            .title {
                font-size: 1.5vh;
                font-family: $global-font;

                margin-right: 0.9259259259259258vh;
            }

        }

        .weight {
            font-size: 1.3888888888888888vh;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 1.3888888888888888vh;

        background: rgba(0, 0, 0, 0.541);

        .cell {
            position: relative;
            width: 5.666666666666667vh;
            height: 5.666666666666667vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.3888888889vh;
            margin-right: 1.3888888889vh;
            background-color: $global-color;
            border: 0.18518518518518517vh solid grey;
            border-radius: 1vh;

            text-shadow: 0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53);


            .drink::before {
                content: '';
                position: absolute;
                bottom: 0;

                width: 100%;
                height: 0.37037037037037035vh;

                background-color: #91C1F1;
            }

            .image {
                position: absolute;
                width: 70%;
                height: 100%;

                pointer-events: none;
            }

            .level {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                border-radius: .5vh;
                width: 100%;
                height: 100%;

                pointer-events: none;
            }

            .count {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);

                font-family: $global-font;
                text-shadow: 0vh 0vh 1vh black;

                pointer-events: none;
            }

            .gender {
                position: absolute;
                right: 0;
                bottom: 0;
                font-family: $global-font;
                text-shadow: 0vh 0vh 1vh black;
            }
        }
    }
}

.active {
    border: 0.18518518518518517vh solid #ffffff !important;
}