@import '../../../../../../styles/vars';

.giveaway {
    position: relative;

    width: 100%;
    height: 15%;
    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.18518518518518517vh dashed #ffffff;
    animation: slide-bottom 0.3s ease-in forwards;

    @keyframes slide-bottom {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;

        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: #00000040;

        transition: all 0.3s;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(0deg, rgba(0, 217, 255, 0.397), transparent);
        transition: all 0.3s;

        opacity: 0;
        z-index: -1;
    }

    .title {
        transition: all 0.3s;
    }

    .icon {
        margin-bottom: 0.9259259259259258vh;
        filter: drop-shadow(0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53));
        transition: all 0.3s;
    }
}


.hide {
    border: 0.18518518518518517vh dashed transparent;
}

.hide::before {
    opacity: 0;
}

.hide::after {
    opacity: 1;
}

.hide .title {
    transform: translate(0vh, 3.62963vh);
    opacity: 0;
}

.hide .icon {
    transform: translate(0vh, 1.4814814814814814vh);
}