@import '../../../../../../styles/vars';

.puton {
    position: relative;
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    text-shadow: 0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.09259259259259259vh;

    transition: all 0.3s;
    animation: slide-top 0.3s ease-in forwards;

    @keyframes slide-top {
        0% {
            transform: translateY(300px);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translateY(10px);
        }
    }

    .icon {
        margin-bottom: 0.9259259259259258vh;
        filter: drop-shadow(0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53));
        transition: all 0.3s;
    }

    .title {
        transition: all 0.3s;
    }
}

.hover::before {
    width: 85.6%;
    height: 85.2%;
    border: 0.18518518518518517vh dashed transparent;
}

.hover .title {
    opacity: 0;
}

.hover .icon {
    transform: translate(0vh, 1.8518518518518519vh);
}