.itemdrag {
	position: absolute;
	transform: translate(-50%, -50%);

	width: 4.62962962962963vh;
	height: 4.62962962962963vh;
	margin-bottom: 1.3888888888888888vh;
	margin-right: 1.3888888888888888vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #00000057;
	border-radius: 1vh;
	text-shadow: 0 0.18518518518518517vh 0.18518518518518517vh rgba(0, 0, 0, 0.53);

	border: 0.18518518518518517vh solid #00000000;

	pointer-events: none;



	.image {
		position: absolute;
		width: 60%;
		height: 60%;
	}

	.quality {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		border-radius: 0.5vh;

		width: 100%;
		height: 100%;
	}

	.count {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Beast Duh';
	}

	.gender {
		position: absolute;
		right: 0;
		bottom: 0;
		font-family: 'Beast Duh';
		text-shadow: 0vh 0vh 1vh black;
	}
}